<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>
<body>
<div id="app">
    <div class="nav-bar"></div>

    <div class="product-display">
        <div class="product-container">
            <div class="product-image">
<!--                AQUIU ESTAMOS VINCULANDO USANDO O :  OU v-bind que vincula essa propriedade la na view coMO SE FOSSE O BINDING DO ANGULAR

                     ESSE BIND E E COMO SE TIVESSE FAZENDO UMA INTERPOLATION <div><img alt="item" src="{{itemImageUrl}}"></div> DO ANGULAR MEU CUMPADI

-->
<!--               <img :src="imgSrc" :alt="description">-->
<!--                <img v-bind:src="imgSrc" :alt="description">-->

<!--&lt;!&ndash;                PODEMOS DESABILITAR BOTÃO, COLCOAR EM REFERENCIAS HREF, IMAGES&ndash;&gt;-->
<!--                <a :href="imgSrc">-->
<!--                    ESDRAS-->
<!--                </a>-->

<!--                VAMOS VER UMA DIRETIVA ESTRUTURAL AGORA SERIA O V-IF IGUAL O *ngIf -->
                <div v-if="!visible">
                    ESDRAS SANTOS O CARA
                </div>
<!--                TEMOS A DIRETIVA V-ELSE TBM-->
                <div v-else>
                    HE MAN
                </div>

<!--                PODEMOS SEGUIR ESSA DIRETIVA-->
                <div v-if="totalContract >10 && totalContract <50">
                    MAIOR QUE 10 E MENOR QUE 50
                </div>
                <div v-else-if="totalContract >=50 && totalContract<=70">
                    MAIOR IGUAL A 50 E MENORIGUAL A 70
                </div>
                <div v-else>
                    MAIOR QUE 70
                </div>





            </div>
            <div class="product-info">
                <h1>{{ product }}</h1>
            </div>
        </div>
    </div>
</div>

<!-- Import App -->
<script src="./main.js"></script>

<!-- Mount App -->
<script>
    const mountedApp = app.mount('#app')
</script>
</body>
</html>
